.allDogs {
  margin: 4rem auto;
  max-width: 30rem;

  padding: 1.5rem;
}
.title {
  margin: 0 0 1.5rem;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  color: rgb(78, 18, 18);
}

.picture {
  max-width: 300px;
  height: auto;
  border-radius: 0.5em;
}
