.allDogs {
  margin: 4rem auto;
  max-width: 30rem;
  box-shadow: 0 -4px 0 #efd67f;

  padding: 1.5rem;
}
.title {
  margin: 0 0 1.5rem;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  color: rgb(78, 18, 18);
}

.picture {
  max-width: 300px;
  height: auto;
  border-radius: 0.5em;
}

.btn {
  display: inline - block;
  border: none;
  border-radius: 3px;
  background: #49bae0;
  padding: 0.5em 1em;
  color: rgb(78, 18, 18);
}

.btn:hover,
.btn:focus {
  background: #54cbf3;
}

.btn,
.btn {
  margin: 1rem;
}
